<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1035582446987-igepcq9vp7iopt1md79mqa8s6df32dpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035582446987-igepcq9vp7iopt1md79mqa8s6df32dpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBH5BdbAulIE393SLGYYBLaea_paDK9a9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1035582446987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winedarkproductions.Cine-Social</string>
	<key>PROJECT_ID</key>
	<string>cine-social</string>
	<key>STORAGE_BUCKET</key>
	<string>cine-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035582446987:ios:b4222a56e4da348a</string>
	<key>DATABASE_URL</key>
	<string>https://cine-social.firebaseio.com</string>
</dict>
</plist>